<!DOCTYPE html>
<html>
<head>
    <title>
        Static
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>

    <h1> Instant Weather  </h1>
   
    <form action="">
        <input type="text" placeholder="location">
 <button class="btn btn-outline-primary btn-success">search</button>

    </form>
  <p class="one"></p>
  <p class="two"></p>



<script src="/js/one.js">  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
